# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build folders (if any)
dist/
build/

# Optional: Editor folders
.vscode/
.idea/

# Optional: Mac system files
*.swp